# build
build/

# VS Code
.vscode/

# nodeJS dependencies
node_modules/

# npm logs
npm-debug.log*
npm.tar.gz
yarn-error.log

# yarn
.yarn-meta
yarn-error.log*
yarn-debug.log*

# vsts
*.vsix
.taskkey

# rollup
.rpt2_cache/

# sonarqube
.scannerwork/
