
# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

fileSystemScan=False
resolveAllDependencies=False



wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true

# Python dependencies https://whitesource.atlassian.net/wiki/spaces/WSK/pages/2446229505/Configuring+the+Unified+Agent+for+Python
python.resolveDependencies = true

python.runPoetryPreStep=true
python.includePoetryDevDependencies=true